@import "~normalize.css/normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";

body {
    font-family: 'Lato', sans-serif;

}

.heading {
    font-family: 'Carter One', cursive;
    font-weight: 900;
}

.subheading {
    font-weight: 400;
}